{% style %}
  .footer-section-wrapper{
    background-color:{{section.settings.footer_bg_color}};
  }
  .footer-text p{
    color:{{section.settings.footer_text_color}};
  }
  .footer-copy-right{
    background-color:{{section.settings.footer_copyright_bg_color}};
  }
  .footer-copy-right .text p {
    color:{{section.settings.footer_copyright_text_color}};
  }
{% endstyle %}
<footer aria-label="Footer" class="site-footer-main">
  <section class="footer-section-wrapper">
    <div class="footer-company-logo">
      {% if section.settings.footer_logo != blank %}
        <div class="image-wrapper">
          <img alt="Body talse footer" src="{{section.settings.footer_logo | img_url: '200x200'}}">
        </div>
      {% endif %}
      {% if section.settings.footer_text != blank %}
        <div class="footer-text">
          <p>{{ section.settings.footer_text }}</p>
        </div>
      {% endif %}
    </div>
    <div class="footer-navigation-wrapper">
      <div class="site-navigation-wrapper">
        {% if linklists[section.settings.footer_menus].links != blank %}
          <nav
            class="site-footer-navigation"
            aria-label="{{ 'general.accessibility.nav_footer' | t }}"
          >
            {% render 'navlist',
              menu_list: linklists[section.settings.footer_menus].links,
              color: section.settings.footer_text_color,
              contactSection: section.blocks
            %}
          </nav>
        {% endif %}
      </div>
    </div>
  </section>
  <section class="footer-copy-right">
    <div class="text">
      <p>{{ section.settings.footer_copyright_text }}</p>
    </div>
  </section>
</footer>
{% schema %}
{
  "name": "Footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer logo"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer text"
    },
    {
      "type": "color",
      "id": "footer_bg_color",
      "label": "Footer background color"
    },
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Footer text color"
    },
    {
      "type": "link_list",
      "id": "footer_menus",
      "label": "Select Footer Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Footer copyright"
    },
    {
      "type": "text",
      "id": "footer_copyright_text",
      "label": "Footer copyright text"
    },
    {
      "type": "color",
      "id": "footer_copyright_bg_color",
      "label": "Footer copyright background color"
    },
    {
      "type": "color",
      "id": "footer_copyright_text_color",
      "label": "Footer copyright text color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Contact Us",
      "settings": [
        {
          "type": "text",
          "id": "icon_text",
          "label": "Icon text"
        },
        {
          "type": "text",
          "id": "icon_url",
          "label": "Icon Url"
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon image"
        }
      ]
    }
  ]
}
{% endschema %}
